
body{
    background-color: #2C3940;
  }

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #1b262d;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
    min-height: 450px;
}

 @media screen and (max-width: 992px) {
    .profile-usermenu {
      margin-top: 30px;
      min-height: 40px;}
}

.profile-usermenu ul li {
  border-bottom: 1px solid #2c3940;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #2c3940;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #2c3940;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #1b262d;
    min-height: 700px;
    color: #93a3b5;
}
/*======================*/

.badges {
    display: inline-block;
    padding: 5px 6px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    float: right;
}
.list-group-item > p > .badges {
    float: right;
}

.list_color{
  background-color: #2c3940;
  border: 0px;
}

.list_color > p {
    margin: 0;
}

.panel_color {
    margin-bottom: 20px;
    border: 1px solid #93a3b5;
    padding: 5px 0;
    background-color: #2c3940; 
  }
/*============ modal css start===========*/

.modal-content_color {
    background-color: #2C3940;
    border: 1px solid #93a3b5;

  }
  .close{
    color: #fff;
    font-size: 22px;
  }
  .form-control_color {
    color: #93a3b5;
    background-color: #1b262b;
    border: 1px solid #93a3b5;

  }

  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #93a3b5;
  }

  .item_color{
    margin-bottom: 1px;
    background-color: #2C3940;
    border: none;
  }
  .modal-footer {
    padding: 15px;
    border-top: 1px solid #93a3b5;
}