/*custom*/
@media(min-width: 320px) and (max-width: 365px){
	.login_form{
		    margin: 100px 0;
		min-height: 445px;
		padding: 50px 10px;
	}
	.float-left{
		    margin-left: 55px;
    margin-top: -9px;
	}
	.float-right{
		    margin-right: 60px;
    margin-top: 10px;
	}

}
@media(min-width: 366px) and (max-width: 576px){
	.login_form{
		    margin: 100px 0;
	}
}


 /*Extra small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575.98px) { 
}*/

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	
	
	
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 


}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 


}