/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;*/
html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
canvas{
	/*min-height: 400px;*/
}
body{
	font-family: 'Open Sans', sans-serif;
	color: white;
	background-image: url('../img/bg_img.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*login_form start*/
.login_form{
	border:1px solid white;
	border-radius: 15px;
	margin:250px 0;
	position: relative;
	padding: 50px 30px;
	min-height: 400px;
	background-color: rgba(0, 0, 0, 0.62);
	box-sizing: border-box;
}
.login_form h1{
	font-weight: bold;
	font-size: 25px;
	padding: 30px 0;
	text-transform: uppercase;
}
.for_image{
	position: absolute;
	top: -84px;
	left: 0;
	right: 0;
}
.for_form form button{
	border-radius: 15px;
	padding: 6px 25px;
	background-color: #0072bc;
	font-weight: bold;
	margin: 5px 0;
	border:none;
	transition: 1s;
}
.for_form form button:hover{
	background-color: white;
	color: #0072bc;
}
.custom_bg{
	background-color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	z-index: 100;
}
.custom_input{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color: #707070;
}
.custom_font{
	font-weight: 300;
	font-size: 15px;
	color: white;
}
a.custom_font{
	text-decoration: underline;
	transition: 1s;
}
a.custom_font:hover{
	color:#0072bc !important;
}
.form-group input[type="checkbox"] {
	margin-top: 7px;
	/*background-color: red !important;*/
	/*visibility: hidden;*/
}