

body{
	font-family: 'Roboto', sans-serif;
}

/*------- header start  ---------*/
header{
border-bottom: 6px solid #ebebeb;
}
.custom_nav{}
.custom_nav img{
	/*width: 165px;
	height: 115px;*/
	margin: 30px 0 30px;
}
.custom_navbar{

}
.custom_navbar ul li a{
	padding: 0 20px !important;
    color: #444444 !important;
    font-size: 20px;
    transition: .5s;
}
.custom_navbar ul li:last-child a{
	    padding-right: 0px !important;
}
.custom_navbar ul li a:hover {
    color: #6c8466 !important;
}
/*header end*/

/*-------  banner start  -------*/
.banner{
	background-color: #ebebeb;
}
/*banner end*/

/*broker start*/
.broker{
	background-image: url(../images/bg_broker.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:80px 0 80px;
}
.broker_content{}
.broker_content h1{
	font-weight: 700;
	font-size: 45px;
	color: #222222;
}
.broker_content p{
	font-weight: 300;
	font-size: 30px;
	color: #666666;
}

/*broker end*/
/*services start*/
.services{
padding: 80px 0 80px;
}
.service_content{

}
.service_content h1{
	font-weight: 700;
	font-size: 45px;
	margin-bottom: 10px;
	color: #222222;
}
.service_content p{
	margin-bottom: 50px;
	font-weight: 300;
	font-size: 35px;
	color: #666666;
}
.service_content2{

}
.service_content2 img{

}
.service_content2 p{

}
/*services end*/

/*listing start*/
.listing{
	background-image: url(../images/bg_listing.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:100px 0 80px;
	color: white;
	border-bottom: 5px solid #363636;
}
.listing_titel{}
.listing_titel h1{
	    /*color: white;*/
	    padding-left: 15px;
}
.list_content{
	    background-color: rgba(12,1,2,.9);
    padding: 30px 0 40px;
        margin: 20px 10px;
    border-radius: 10px;
    transition: .5s;
}
.list_content:hover {
	    background-color: rgba(12,1,2,.6);
}
.padding_top{

}

.list_content img{}
.list_content p{
	font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
}
.margin_top{
	margin-top: 18px !important;
}
/*listing end*/
/*footer start*/
.footer{
	padding:80px 0;
	background-color: #111111;
}
.foot1{
	margin-top: 15px;
}
.foot1 img{}
.foot1 p{
	font-size: 18px;
    font-weight: 300;
    padding: 15px 10px 0;
    color: #666666;
    margin-bottom: 0
}
.foot2{}
.foot2 h1{
	color: white;
	    font-size: 35px;
	    font-weight: 700;
}
.foot2 p{
	font-size: 23px;
    font-weight: 300;
    color: #666666;
    margin-bottom: 0;
    line-height: 40px;
}
.links{}
.links h1{
	color: white;
	font-size: 35px;
	    font-weight: 700;
}
.wrapper1{}
.wrapper1 p{}

.wrapper1 p a{
	font-weight: 300;
	font-size: 24px;
	line-height: 35px;
	text-decoration: none;
	color:#666666;
	transition: .5s;
}
.wrapper1 p a:hover {
color:#f5f4c0;
}
/*footer start*/
