
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.article {
min-height: 370px;
}
.text-containers {
margin: 30px auto;
}
.text-containers h1 {
font-size: 40px;
}
.text-containers h3 {
font-size: 20px;
}
/*blog*/
.blog_content h2 {
font-size: 35px;
}
/*gueswork*/
.guesswork {
    padding-bottom: 30px;
}
.gueswork-text h4 {
    font-size: 20px;
    text-align: justify;
}
.text-container h2 {
    font-size: 30px;
        padding-top: 20px;
    padding-bottom: 15px;
}
.text-container h4 {
    padding-bottom: 0px;
    font-size: 23px;
}
.float-right {
        padding-right: 33%;
            margin-bottom: 20px;
}
.text{
	    text-align: center;
}
.text h5 {
    font-size: 25px;
}
.text p{
	font-size: 20px;
}
.custom_hr {
    margin-top: 15px;
    margin-bottom: 30px;
}
.custom_img{
	padding-left: 33%;
}

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
.article {
min-height: 305px;
}
.text-containers {
margin:30px auto;
}
.text-containers h1 {
font-size: 45px;
}
.text-containers h3 {
font-size: 25px;
}
/*blog*/
.blog_content h2 {
font-size: 35px;
}
.blog_content h4 {
font-size: 20px;
}
/*gueswork*/
.guesswork {
    padding-bottom: 30px;
}
.gueswork-text h4 {
    font-size: 20px;
    text-align: justify;
}
.text-container h2 {
    font-size: 30px;
        padding-top: 20px;
    padding-bottom: 15px;
}
.text-container h4 {
    padding-bottom: 0px;
    font-size: 23px;
}
.float-right {
        /*padding-right: 33%;
            margin-bottom: 20px;*/
}
.text{
	    /*text-align: left;*/
}
.text h5 {
    font-size: 25px;
}
.text p{
	font-size: 20px;
}
.custom_hr {
    margin-top: 15px;
    margin-bottom: 30px;
}
.custom_img{
	/*padding-left: 33%;*/
}


}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*blog*/
.blog_content h2 {
font-size: 35px;
}
.blog_content h4 {
font-size: 20px;
}



}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}