body{
	font-family: 'Roboto', sans-serif;
	color: #000;
}
/*header start*/
.header{
	background-color: #265467;
	overflow: hidden;
}
.navbar a img{
	height: 50px;
}
/*banner start====================*/
.banner{
	overflow: hidden;
}
/*overlay========*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.article {
	width: 100%;
	min-height:345px;
	border:1px solid grey;
	display: inline-block;
	vertical-align: top;
	position: relative;
	color:white;
}
.image {
	background-image: url(../images/img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.overlay:before{
	position: absolute;
	content:" ";
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	z-index:0;
	background-color: rgba(38,84,103,0.6);
}
.article * {
	position: relative;
}
/*========overlay end*/
.no_padding{
	padding: 0;
}
.text-containers{
	margin: 40px auto;
	max-width: 960px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}
.text-containers h1{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-weight: 600;
	font-size: 50px;
	/*padding-top: 8px;
	padding-bottom: 8px;*/
}
.text-containers h3{
	font-size: 28px;
	letter-spacing: 1px;
	font-weight: 300;
	padding: 20px 0px 10px 0px;
}
/*blog start*/
.blog{
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 40px;
}
.blog_content h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-top: 30px;
	text-transform: capitalize;
}
.blog_content h4{
	font-size: 23px;
	font-weight: 300;
	padding: 35px 0px 0px 0px;
	color: #000;
	letter-spacing: 1px;
	line-height: 1.5;
	text-transform: capitalize;
}
.blog_content p{
	font-size: 26px;
	font-weight: 300;
	padding: 35px 0px 0px 0px;
	color: #000;
	letter-spacing: 1px;
	line-height: 1.5;
	text-transform: capitalize;
}
/*form*/
.login-block{
	background-color: #265467;
	float:left;
	width:100%;
	padding : 50px 0;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat center; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#265467; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}

/*guesswork */
.guesswork{
	padding-top: 20px;
	padding-bottom: 50px;
	clear: both;
}
.text-container h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.text-container h4{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 300;
	text-align: center;
	padding-bottom: 60px;
	color: #000;
}
.gueswork-text h4{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #c1c1c1;
	line-height: 1.5;
	padding: 20px;
}
.imagebox img{
	border-radius: 69px;
	min-height: auto;
	max-width: 140px;
	min-height: 140px;
	border:9px solid white; 
}
.effect6
{
	position:relative;
	-webkit-box-shadow:0 5px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 5px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 5px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	-moz-border-radius:100px / 10px;
	border-radius:100px / 10px;
}
.effect6:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}

.custom_hr{
	margin-top: 50px;
	margin-bottom: 60px;
}
.c_text{
	text-align: right;
}
.text h5{
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 0;
}
.text p{
	font-style: italic;
	font-size: 25px;
	color: #c1c1c1;
}
/*footer*/
.bottom-footer{
	background-color: #265467;
	color: white;
	padding:30px 0;
}
.bottom-footer a{
	color:white !important;
}
.para{
	margin-top: 10px;
}
.para p {
	margin-top: 16px; 
}
