.service-area {
	width: 100%;
	background: url(pen.jpg) no-repeat center center fixed;
	background-size: cover;
	padding: 100px 0;
	text-align: center;
	color: #bbb;
	font-family: sans-serif;
	position: relative;
	z-index: 1;
}

.service-area:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	top: 0;
	left: 0;
	z-index: -1;
}

.service-container {
	width: 80%;
	padding-bottom: 50px;
	box-sizing: border-box;
	margin: auto;
	border: 1px solid #999;
	border-top: none;
}

.service {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 5px;
	transform: translateY(-15px);
	position: relative;
}

.service:before,
.service:after {
	position: absolute;
	content: '';
	width: calc(50% - 200px);
	height: 1px;
	background: #999;
	top: 50%;
}

.service:before {
	left: -1px;
}
.service:after {
	right: -1px;
}

.text {
	padding-top: 50px;
	font-size: 16px;
	line-height: 25px;
	padding: 50px 100px;
}