/*****************
	Global SCC
*****************/
body{
	font-family: 'Lato', sans-serif;
}
/*******************
	Banner Section
********************/
.banner-section{
	background:url(../images/banner.png);
	background-size: cover;
}
.navbar-light .navbar-nav .nav-link{
	color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: red;
}
.bg-faded {
    background-color: transparent;
}
.nav-menu{
	margin-left: 500px;
}
.title{
	color: #fff;
	margin-top: 150px;
	letter-spacing: 1px;
}
.description{
	color: #fff;
	padding-top: 40px;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.show-more-btn{
    margin: 40px auto;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: #fff;
}
.show-more-btn:hover{
	background: #ed145b;
	color: #fff;
}
.btn{
	display: block;
	padding-bottom: 100px;
}

h1 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
h1:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid red;
}