 /*custom (portrait phones, less than 320px)*/
@media (max-width: 320px) { 
.custom_offset{
	margin-left: 0px;
}

} 

 /*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 321.98px) and (max-width: 575px) { 
.custom_icon {
    text-align: center;
}
.banner_img{
	    text-align: center;
    margin-top: 20px;
}
.pl_0 {
    padding-left: 15px;
}
.pr_0 {
    padding-right:15px;
}
.custom_offset{
	margin-left: 15px;
}
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
.banner_content {
    margin-top: 15px;
}
.banner_img{
	margin-top: 20px;
}
.banner {
    padding-bottom: 50px;
}

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	
	.custom_nav ul li a {
    padding: 15px 50px !important;
    color: #010101 !important;
}
.pl_0 {
    padding-left: 10px;
}

}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 


}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

.custom_nav ul li a {
    padding: 15px 70px !important;
    color: #010101 !important;
}
}