body{
	font-family: 'PT Sans', sans-serif;
	color: #010101;
}

/*header start*/
.header{
	background-color: #fcdb00;
}
.logo_text{
	font-size: 30px;
}
.custom_nav{}
.custom_nav ul li a{
	    padding: 29px 50px !important;
	    color: #010101 !important;
}

/*banner start*/
.banner{
	background-color: #fcdb00;
	padding-top: 30px;
	padding-bottom: 100px;
}
.banner_content{
	margin-top: 50px;
}
.custom_icon{
	font-size: 50px;
}
/*feature start*/
.icon{
	font-size: 50px;
}
.icon_text{
    margin: 15px 0;
}
.icon_text h1{
font-size: 22px;
}
.icon_text p{
font-size: 16px;
}

.pr_0{
	padding-right: 0;
}
.pl_0{
	padding-left: 0;
}

.footer{
	background-color: #010101;
	padding-top: 50px;
	padding-bottom: 80px;
}
.footer_title{}
.footer_title h1{
	color: #fcdb00;
}
.footer_title p{
	color: white;
}
.btn_custom{
	background-color: #fcdb00;
	
}