/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face{
    font-family: "ARDECODE";
    src:url(../font/ARDECODE.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}
.left{
    float: left;
}
.right{
    float: right;
}

/*------------banner start------------------*/
#banner {
    background-color: #00ccff;
    min-height: 460px;
    /*overflow: hidden; */
    position: relative;

}

.banner_caption {
    width: 740px;
    height: 245px;
    text-align: center;
    margin: 0 auto;
    padding-top: 70px;
}

.welcome_txt {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 30px;
    color: white;
  display: inline-block;
  padding-bottom: 25px;
  position: relative;
}
.welcome_txt:before{
    content: "";
    position: absolute;
    width: 400px;
    height: 1px;
    bottom: 0;
    left: -15%;
    border-bottom: 1px dotted white;
}
.caption_title {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 60px;
    color: white;
    /*border-bottom: 1px dotted white;*/
}

.facilities {
    font-family: Quicksand;
    font-weight: normal;
    font-size: 30px;
    color: white;
}

.view_pricing {
    background-color: #2a2c33;
    width: 1020px;
    height: 95px;
    position:absolute;
    left:0;
    right: 0;
    margin:0 auto;
    bottom: -10%;
    /*padding: 5px 0px;*/
}

.form-group {
    float:left;
    margin-left: 15px;
}

.form-group label{
    font-family: Quicksand;
    font-weight: 400;
    color: #c0bd0b;
    font-size: 18px;
}
.common_date_style {
    width: 230px;
    height: 45px;
    border-radius: 10px;
    border:none;
    background:url(../img/calender.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 5%;
    padding-left: 28px;

}

.room_selection{
    width: 250px;
    height: 45px;
    border-radius: 10px;
    border:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background:url(../img/select-indicator.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 5%;
    padding-left: 11%;

}
.view_price {
    width: 177px;
        height: 42px;
        background-color: #ffd700;
        border-radius: 10px;
        border:none;
        font-family: 'Droid Sans', sans-serif;
        font-weight: bold;
        color:#2a2e33;
        margin-top: 26px;
}

/*banner end*/

/*------------package booking start----------*/
#package_booking {
     background: url(../img/package-bg.jpg) no-repeat center center;
     background-size: cover;
     min-height: 620px;
     overflow: hidden;
     border-bottom: 2px solid #e7e8e8;
}
.package_booking_title {
    width: 1165px;
    height: 107px;
    text-align: center;
    margin:80px auto;
}

.package_booking_title h1{
    font-family: ARDECODE;
    font-size: 60px;
    color:#2a2e33;
    margin: 0px;
}
.package_booking_title p{
    font-family: Quicksand;
    font-size: 14px;
    color:#2a2e33;
    
}
.package_slider {
    width: 1035px;
    height: 230px;
    margin: 0 auto;

}

.left_indicator {
    margin-top: 6%;
}

.single_item {
    float: left;
    width: 225px;
    height: 215px;
    background: white;
    border:3px solid #2a2e33;
    border-radius: 130px;
    margin-left: 5%;
}

.right_indicator {
    margin-top: 6%;
}
/*package booking end*/



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
