/*@import "../../i.icomoon.io/public/df361ad5fe/iFiveMe/style.css";*/
input,
select,
textarea {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

select {
    text-transform: none
}

select::-ms-expand {
    display: none
}

select::-ms-value {
    background: none;
    color: inherit
}

textarea {
    overflow: auto;
    resize: vertical
}

button,
.o-button {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: none;
    color: inherit;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

button:hover,
.o-button:hover {
    text-decoration: none
}

.c-overlay-subscription {
    -webkit-transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-subscription-open .c-overlay-subscription::before {
    opacity: 0.95
}

.has-subscription-open .c-overlay-subscription {
    visibility: visible;
    -webkit-transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-subscription-open .c-overlay-subscription .c-overlay_box {
    opacity: 1
}

@media (min-width: 500px) {
    .has-subscription-open .c-overlay-subscription .c-overlay_box {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@media (max-width: 499px) {
    .has-subscription-open .c-overlay-subscription .c-overlay_box {
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%)
    }
}

.c-overlay-subscription-confirm {
    -webkit-transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-subscription-confirm-open .c-overlay-subscription-confirm::before {
    opacity: 0.95
}

.has-subscription-confirm-open .c-overlay-subscription-confirm {
    visibility: visible;
    -webkit-transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-subscription-confirm-open .c-overlay-subscription-confirm .c-overlay_box {
    opacity: 1
}

@media (min-width: 500px) {
    .has-subscription-confirm-open .c-overlay-subscription-confirm .c-overlay_box {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@media (max-width: 499px) {
    .has-subscription-confirm-open .c-overlay-subscription-confirm .c-overlay_box {
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%)
    }
}

.c-overlay-login {
    -webkit-transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-login-open .c-overlay-login::before {
    opacity: 0.95
}

.has-login-open .c-overlay-login {
    visibility: visible;
    -webkit-transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-login-open .c-overlay-login .c-overlay_box {
    opacity: 1
}

@media (min-width: 500px) {
    .has-login-open .c-overlay-login .c-overlay_box {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@media (max-width: 499px) {
    .has-login-open .c-overlay-login .c-overlay_box {
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%)
    }
}

.c-overlay-signin {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-signin-open .c-overlay-signin::before {
    opacity: 0.95
}

.has-signin-open .c-overlay-signin {
    visibility: visible;
    -webkit-transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1)
}

.has-signin-open .c-overlay-signin .c-overlay_box {
    opacity: 1
}

@media (min-width: 500px) {
    .has-signin-open .c-overlay-signin .c-overlay_box {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@media (max-width: 499px) {
    .has-signin-open .c-overlay-signin .c-overlay_box {
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%)
    }
}

.c-overlay-card-share {
    -webkit-transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 1s cubic-bezier(0.4, 0, 0.2, 1)
}

.c-overlay-card-share.has-card-share-open {
    visibility: visible;
    -webkit-transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 0s 0s cubic-bezier(0.4, 0, 0.2, 1)
}

.c-overlay-card-share.has-card-share-open::before {
    opacity: 0.95
}

.c-overlay-card-share.has-card-share-open .c-overlay_box {
    opacity: 1
}

@media (min-width: 500px) {
    .c-overlay-card-share.has-card-share-open .c-overlay_box {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

@media (max-width: 499px) {
    .c-overlay-card-share.has-card-share-open .c-overlay_box {
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%)
    }
}

@media (min-width: 500px) {
    .c-overlay-card-share .c-overlay_box {
        width: 500px
    }
}

@media (max-width: 499px) {
    .c-overlay-card-share .c-overlay_box {
        left: 15px;
        right: 15px;
        -webkit-transform: translate(0, 80%);
        transform: translate(0, 80%)
    }
}

.c-overlay {
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden
}

.c-overlay_close {
    position: absolute;
    right: 10px;
    top: -30px;
    color: #ffffff;
    -webkit-transition: color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2
}

@media (max-width: 499px) {
    .c-overlay_close {
        top: 18px;
        font-size: 12px;
        right: 15px
    }
}

.c-overlay_close:hover {
    color: #3f8eda
}

.c-overlay-close {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none
}

.has-signin-open .c-overlay-close,
.has-login-open .c-overlay-close,
.has-card-share-open .c-overlay-close {
    pointer-events: auto
}

.c-overlay::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #242e42;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1)
}

.c-overlay_box {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 80%);
    transform: translate(-50%, 80%);
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0
}

@media (min-width: 500px) {
    .c-overlay_box {
        width: 360px
    }
}

@media (max-width: 499px) {
    .c-overlay_box {
        left: 15px;
        right: 15px;
        -webkit-transform: translate(0, 80%);
        transform: translate(0, 80%)
    }
}

@media (min-width: 500px) {
    .c-overlay_box_body {
        padding: 40px 30px
    }
}

@media (max-width: 499px) {
    .c-overlay_box_body {
        padding: 30px 15px
    }
}

.c-overlay_box_header {
    background: #3f8eda;
    position: relative;
    border-radius: 10px 10px 0 0
}

@media (min-width: 500px) {
    .c-overlay_box_header {
        padding: 30px 80px 30px 30px
    }
}

@media (max-width: 499px) {
    .c-overlay_box_header {
        padding: 15px 60px 15px 15px
    }
}

.c-overlay_box_header.-brown {
    background: #cca378
}

.c-overlay_box_header h3 {
    color: #ffffff;
    margin: 0
}

.c-overlay_box_header i {
    position: absolute;
    color: #ffffff;
    right: 30px;
    top: 50%;
    font-size: 46px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 46px;
    left: auto
}

@media (max-width: 499px) {
    .c-overlay_box_header i {
        display: none
    }
}

.c-overlay_box_footer {
    position: relative
}

@media (min-width: 500px) {
    .c-overlay_box_footer {
        padding: 30px 0
    }
}

@media (max-width: 499px) {
    .c-overlay_box_footer {
        padding: 15px 0
    }
}

.c-overlay_box_footer p {
    margin: 0
}

@media (max-width: 499px) {
    .c-overlay_box_footer p {
        font-size: 12px
    }
}

.c-overlay_box_footer::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    height: 3px;
    background: url(dotted-34c983d1f647c6c501a85f384cfd752d864fb702f50b9f216ec36b8cc27368f0.svg) repeat-x left top
}

@media (min-width: 500px) {
    .c-forget {
        margin: 60px 0 0 0
    }
}

@media (max-width: 499px) {
    .c-forget {
        margin: 30px 0 0 0;
        font-size: 12px
    }
}

.c-overlay_box_body .c-plans_description_list li {
    color: #8893a6;
    text-transform: uppercase
}

.c-overlay_box_body .c-plans_description_list li:last-child::before {
    display: none
}

.c-btn-forfait {
    margin-right: 10px
}

.gold {
    color: #d6a26d
}

header {
    background: #fff;
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2)
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #d6a26d
}

.logo {
    width: 200px
}

#banner {
    padding: 0;
    background: url(../img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    z-index: 1
}

.jumbo {
    padding: 200px 0
}

#banner::after,
#how::after,
#cta2::after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

#banner::after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#99000000', GradientType=1)
}

#how::after {
    background: rgba(0, 0, 0, 0.85)
}

#cta2::after {
    background: rgba(48, 58, 79, 0.918)
}

#banner h1 {
    font-weight: bold;
    font-size: 56px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

#banner h2 {
    color: #fff
}

.btn-main:hover,
.btn-main:active,
.btn-main:focus,
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background: #d1965b;
    border: 1px solid #aa7642;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}

#about {
    padding: 95px 0;
    background: #fff
}

.feature {
    padding: 15px
}

.feature i {
    font-size: 36px;
    color: #d6a26d;
    width: 85px;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    border: 5px solid #f2f2f2;
    margin: 10px auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s
}

.feature i:hover {
    background: #d6a26d;
    color: #fff
}

.feature h4 {
    font-size: 14px
}

#about h2,
#how h2 {
    font-weight: normal;
    margin-bottom: 40px
}

#about h2 {
    color: #444
}

.card-img {
    max-width: 340px;
    margin-bottom: 30px
}

#how {
    padding: 95px 0;
    background: url(../img/crowd.jpeg) no-repeat center center;
    background-size: cover;
    color: #e7e7e7;
    position: relative;
    z-index: 1
}

.step {
    padding: 20px;
    border-radius: 10px
}

.step:hover,
.step:active,
.step:focus {
    background: rgba(255, 255, 255, 0.1)
}

.step p {
    font-size: 15px
}

.step img {
    max-width: 65px;
    margin-bottom: 20px
}

.btn-main {
    color: #fff;
    background: #38425c;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 4px;
    white-space: normal;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
}

.btn-outline {
    color: #fff;
    background: transparent;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 4px;
    white-space: normal;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #fff
}

#testimonial {
    padding: 95px 0;
    background: #fff
}

.comment {
    position: relative;
    z-index: 1;
    font-size: 18px;
    color: #7b7b7b
}

.comment::before,
.comment::after {
    font-size: 250px;
    color: #f2f2f2;
    font-family: Georgia, Times, "Times New Roman", serif;
    position: absolute;
    line-height: 0.9;
    z-index: -1
}

.comment::before {
    left: -90px;
    top: -35px;
    content: '“'
}

.comment::after {
    right: -90px;
    top: -35px;
    content: "”"
}

#cta1 {
    padding: 95px 0;
    background: url(../img/girl.jpg) no-repeat center center;
    background-size: cover
}

#cta1 h2 {
    font-size: 44px
}

.cta-content {
    padding: 45px
}

.highlight {
    color: #d6a26d;
    font-weight: bold
}

#cta2 {
    padding: 95px 0;
    background: url(../img/crowd.jpeg) no-repeat center top fixed;
    background-size: cover;
    color: #fff;
    position: relative;
    z-index: 1
}

footer {
    padding: 45px 0;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eaeaea));
    background: linear-gradient(to bottom, #fff 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
    color: #7b7b7b
}

@media screen and (max-width: 767px) {
    .jumbo {
        padding: 45px 20px
    }
    #banner h1 {
        font-size: 36px
    }
    #cta1 {
        background-position: left center
    }
    .cta-content {
        padding: 15px;
        background: rgba(255, 255, 255, 0.8)
    }
    h2 {
        font-size: 26px
    }
    #cta1 h2 {
        font-size: 32px
    }
    #cta2 h2 {
        font-size: 28px
    }
    #how,
    #about,
    #cta1,
    #cta2 {
        padding: 25px 15px
    }
    .comment::before,
    .comment::after {
        display: none
    }
    .btn-outline {
        font-size: 18px;
        background: transparent;
        border: 3px solid #e7e7e7;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 8px 15px;
        color: #fff
    }
    .btn-outline:active,
    .btn-outline:focus,
    .btn-outline:hover {
        border: 3px solid #aa7642
    }
}

sup {
    top: -0.8em;
    font-size: 0.5em
}

p {
    line-height: 1.4
}

@media (min-width: 1000px) {
    p {
        margin-bottom: 2.125rem;
        font-size: 0.875rem
    }
}

@media (max-width: 999px) {
    p {
        margin-bottom: 34px;
        font-size: 14px
    }
}

@media (max-width: 699px) {
    p {
        font-size: 14px
    }
}

.o-label,
.o-checkbox-label,
.o-radio-label {
    display: block;
    position: relative
}

@media (min-width: 1000px) {
    .o-label,
    .o-checkbox-label,
    .o-radio-label {
        margin-bottom: 1.875rem
    }
}

@media (max-width: 999px) {
    .o-label,
    .o-checkbox-label,
    .o-radio-label {
        margin-bottom: 30px
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #54617a inset;
    -webkit-text-fill-color: #000000 !important
}

.o-input-group {
    border-radius: 1.25rem;
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.o-input-group ::-webkit-input-placeholder {
    color: #a5d3ff !important
}

.o-input-group ::-moz-placeholder {
    color: #a5d3ff !important
}

.o-input-group :-ms-input-placeholder {
    color: #a5d3ff !important
}

.o-input-group :-moz-placeholder {
    color: #a5d3ff !important
}

.o-input-group ::-webkit-input-placeholder {
    color: #a5d3ff !important
}

.o-input-group :-ms-input-placeholder {
    color: #a5d3ff !important
}

.o-input-group ::placeholder {
    color: #a5d3ff !important
}

.o-input-group .o-input-side {
    line-height: 1em;
    letter-spacing: 0.06em;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    min-width: 36px
}

@media (min-width: 1000px) {
    .o-input-group .o-input-side {
        padding: 0.75rem 1rem;
        height: 2.5rem;
        border-radius: 1.25rem
    }
}

@media (max-width: 999px) {
    .o-input-group .o-input-side {
        padding: 12px 12px;
        height: 40px;
        border-radius: 20px
    }
}

.c-contact-form .o-input-group {
    background: #4180bf;
    color: #ffffff
}

.o-input-group > .o-input,
.o-input-group > .o-checkbox-label::before,
.o-input-group > .o-radio-label::before,
.o-input-group > .o-checkbox-label::after,
.o-input-group > .o-radio-label::after,
.o-input-group > .o-select,
.o-input-group > .o-textarea {
    text-align: right;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 1%
}

.o-input-group > .o-input:last-child,
.o-input-group > .o-checkbox-label:last-child::before,
.o-input-group > .o-radio-label:last-child::before,
.o-input-group > .o-checkbox-label:last-child::after,
.o-input-group > .o-radio-label:last-child::after,
.o-input-group > .o-select:last-child,
.o-input-group > .o-textarea:last-child {
    text-align: left
}

.o-input,
.o-checkbox-label::before,
.o-radio-label::before,
.o-checkbox-label::after,
.o-radio-label::after,
.o-select,
.o-textarea {
    border: 0;
    background: #f9fafb;
    color: #54617a;
    -webkit-transition: -webkit-box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-box-shadow: 0 5px 18px 0 transparent;
    box-shadow: 0 5px 18px 0 transparent
}

.c-validate-input .o-input-group > .o-input,
.c-validate-input .o-input-group > .o-checkbox-label::before,
.c-validate-input .o-input-group > .o-radio-label::before,
.c-validate-input .o-input-group > .o-checkbox-label::after,
.c-validate-input .o-input-group > .o-radio-label::after,
.c-validate-input .o-input-group > .o-select,
.c-validate-input .o-input-group > .o-textarea {
    text-align: left
}

.c-contact-form .o-input,
.c-contact-form .o-checkbox-label::before,
.c-contact-form .o-radio-label::before,
.c-contact-form .o-checkbox-label::after,
.c-contact-form .o-radio-label::after,
.c-contact-form .o-select,
.c-contact-form .o-textarea {
    background: #4688ca;
    color: #ffffff
}

.o-input:focus,
.o-checkbox-label:focus::before,
.o-radio-label:focus::before,
.o-checkbox-label:focus::after,
.o-radio-label:focus::after,
.o-select:focus,
.o-textarea:focus {
    -webkit-box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.05)
}

@media (min-width: 1000px) {
    .o-input,
    .o-checkbox-label::before,
    .o-radio-label::before,
    .o-checkbox-label::after,
    .o-radio-label::after,
    .o-select,
    .o-textarea {
        padding: 0.75rem 1.5rem;
        height: 2.5rem;
        border-radius: 1.25rem
    }
}

@media (max-width: 999px) {
    .o-input,
    .o-checkbox-label::before,
    .o-radio-label::before,
    .o-checkbox-label::after,
    .o-radio-label::after,
    .o-select,
    .o-textarea {
        padding: 12px 24px;
        height: 40px;
        border-radius: 20px
    }
}

.o-input::-webkit-input-placeholder,
.o-select::-webkit-input-placeholder,
.o-textarea::-webkit-input-placeholder {
    color: #54617a;
    opacity: 1
}

.o-input:-ms-input-placeholder,
.o-select:-ms-input-placeholder,
.o-textarea:-ms-input-placeholder {
    color: #54617a;
    opacity: 1
}

.o-input::placeholder,
.o-select::placeholder,
.o-textarea::placeholder {
    color: #54617a;
    opacity: 1
}

.c-contact-form .o-input::-webkit-input-placeholder,
.c-contact-form .o-select::-webkit-input-placeholder,
.c-contact-form .o-textarea::-webkit-input-placeholder {
    color: #ffffff
}

.c-contact-form .o-input:-ms-input-placeholder,
.c-contact-form .o-select:-ms-input-placeholder,
.c-contact-form .o-textarea:-ms-input-placeholder {
    color: #ffffff
}

.c-contact-form .o-input::placeholder,
.c-contact-form .o-select::placeholder,
.c-contact-form .o-textarea::placeholder {
    color: #ffffff
}

.o-checkbox,
.o-radio {
    position: absolute;
    width: 0;
    opacity: 0
}

.o-checkbox:checked + .o-checkbox-label::after,
.o-radio:checked + .o-checkbox-label::after,
.o-checkbox:checked + .o-radio-label::after,
.o-radio:checked + .o-radio-label::after {
    opacity: 1;
    -webkit-transform: scale(1, 1) translate(0, -50%);
    transform: scale(1, 1) translate(0, -50%)
}

.o-checkbox-label,
.o-radio-label {
    position: relative;
    display: inline-block;
    margin-right: 0.5em;
    padding-left: 1.875rem
}

.o-checkbox-label::before,
.o-radio-label::before,
.o-checkbox-label::after,
.o-radio-label::after {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    padding: 0;
    width: 1.25rem;
    height: 1.25rem;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    content: ""
}

.o-checkbox-label::before,
.o-radio-label::before {
    background: #f4f5f7 !important;
    border: 1px solid rgba(0, 0, 0, 0.05)
}

.o-checkbox-label::after,
.o-radio-label::after {
    content: "\e90c";
    font-family: 'icomoon' !important;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: none;
    color: #3f8eda !important;
    background: none !important;
    -webkit-transform: scale(0.4, 0.4) translate(0, -50%);
    transform: scale(0.4, 0.4) translate(0, -50%);
    line-height: 19px;
    text-align: center;
    -webkit-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1)
}

@media (min-width: 1000px) {
    .o-checkbox-label::after,
    .o-radio-label::after {
        font-size: 0.625rem
    }
}

@media (max-width: 999px) {
    .o-checkbox-label::after,
    .o-radio-label::after {
        font-size: 10px
    }
}

.o-radio-label::before,
.o-radio-label::after {
    border-radius: 50%
}

.o-radio-label::after {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20enable-background%3D%22new%200%200%2013%2013%22%20xml%3Aspace%3D%22preserve%22%3E%3Ccircle%20fill%3D%22%23424242%22%20cx%3D%226.5%22%20cy%3D%226.5%22%20r%3D%226.5%22%2F%3E%3C%2Fsvg%3E");
    background-size: 0.5rem
}

.o-select {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    padding-right: 2.5rem
}

.o-select-wrap {
    position: relative;
    display: block
}

.o-select-wrap::after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    font-family: 'icomoon' !important;
    content: "\e90d";
    color: #3f8eda;
    pointer-events: none
}

.-blue .o-select-wrap::after {
    color: #ffffff
}

@media (min-width: 1000px) {
    .o-select-wrap::after {
        font-size: 1.75rem;
        right: 0.875rem
    }
}

@media (max-width: 999px) {
    .o-select-wrap::after {
        font-size: 28px;
        right: 14px
    }
}

.o-textarea {
    resize: none;
    line-height: 2.8
}

@media (min-width: 1000px) {
    .o-textarea {
        height: 8.75rem
    }
}

@media (max-width: 999px) {
    .o-textarea {
        height: 140px
    }
}

.o-form ::-webkit-input-placeholder {
    color: #54617a;
    opacity: 1
}

.o-form :-moz-placeholder {
    color: #54617a;
    opacity: 1
}

.o-form ::-moz-placeholder {
    color: #54617a;
    opacity: 1
}

.o-form :-ms-input-placeholder {
    color: #54617a;
    opacity: 1
}

.c-contact-form ::-webkit-input-placeholder {
    color: #ffffff
}

.c-contact-form :-moz-placeholder {
    color: #ffffff
}

.c-contact-form ::-moz-placeholder {
    color: #ffffff
}

.c-contact-form :-ms-input-placeholder {
    color: #ffffff
}

.c-validate-input {
    position: relative
}

.c-validate-input .o-checkbox-label,
.c-validate-input .o-radio-label {
    margin-bottom: 0 !important;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0
}

@media (min-width: 1000px) {
    .c-validate-input .o-checkbox-label,
    .c-validate-input .o-radio-label {
        width: 1.25rem;
        height: 1.25rem
    }
}

@media (max-width: 999px) {
    .c-validate-input .o-checkbox-label,
    .c-validate-input .o-radio-label {
        width: 20px;
        height: 20px
    }
}

.c-validate-input .o-checkbox-label::before,
.c-validate-input .o-radio-label::before {
    background: #eef2f4 !important
}

.-blue .c-validate-input .o-checkbox-label::before,
.-blue .c-validate-input .o-radio-label::before {
    background: #3c78b3 !important
}

.c-validate-input .o-checkbox-label::after,
.c-validate-input .o-radio-label::after {
    color: #ffffff !important;
    margin-left: 0;
    text-align: center
}

.-blue .c-validate-input .o-checkbox-label::after,
.-blue .c-validate-input .o-radio-label::after {
    color: #3f8eda !important
}

.c-validate-input .o-checkbox_wrap {
    position: absolute;
    top: 50%;
    right: 10px;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.c-validate-input .o-checkbox_wrap.-posre {
    position: relative
}

@media (min-width: 1000px) {
    .c-validate-input .o-checkbox_wrap {
        width: 1.25rem;
        height: 1.25rem
    }
}

@media (max-width: 999px) {
    .c-validate-input .o-checkbox_wrap {
        width: 20px;
        height: 20px
    }
}

.o-input-group .c-validate-input .o-checkbox_wrap {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    display: inline-block;
    margin-left: 15px
}

.c-validate-input .o-checkbox:disabled + .o-checkbox-label::before,
.c-validate-input .o-radio:disabled + .o-checkbox-label::before,
.c-validate-input .o-checkbox:disabled + .o-radio-label::before,
.c-validate-input .o-radio:disabled + .o-radio-label::before {
    background: #f4f5f7 !important
}

.-blue .c-validate-input .o-checkbox:disabled + .o-checkbox-label::before,
.-blue .c-validate-input .o-radio:disabled + .o-checkbox-label::before,
.-blue .c-validate-input .o-checkbox:disabled + .o-radio-label::before,
.-blue .c-validate-input .o-radio:disabled + .o-radio-label::before {
    background: #f4f5f7 !important
}

.c-validate-input .o-checkbox:disabled + .o-checkbox-label::after,
.c-validate-input .o-radio:disabled + .o-checkbox-label::after,
.c-validate-input .o-checkbox:disabled + .o-radio-label::after,
.c-validate-input .o-radio:disabled + .o-radio-label::after {
    color: #f4f5f7 !important
}

.-blue .c-validate-input .o-checkbox:disabled + .o-checkbox-label::after,
.-blue .c-validate-input .o-radio:disabled + .o-checkbox-label::after,
.-blue .c-validate-input .o-checkbox:disabled + .o-radio-label::after,
.-blue .c-validate-input .o-radio:disabled + .o-radio-label::after {
    color: #f4f5f7 !important
}

.c-validate-input .o-checkbox:checked + .o-checkbox-label::before,
.c-validate-input .o-radio:checked + .o-checkbox-label::before,
.c-validate-input .o-checkbox:checked + .o-radio-label::before,
.c-validate-input .o-radio:checked + .o-radio-label::before {
    background: #3f8eda !important
}

.-blue .c-validate-input .o-checkbox:checked + .o-checkbox-label::before,
.-blue .c-validate-input .o-radio:checked + .o-checkbox-label::before,
.-blue .c-validate-input .o-checkbox:checked + .o-radio-label::before,
.-blue .c-validate-input .o-radio:checked + .o-radio-label::before {
    background: #ffffff !important
}

.c-validate-input .o-checkbox:checked + .o-checkbox-label::after,
.c-validate-input .o-radio:checked + .o-checkbox-label::after,
.c-validate-input .o-checkbox:checked + .o-radio-label::after,
.c-validate-input .o-radio:checked + .o-radio-label::after {
    color: #ffffff !important
}

.-blue .c-validate-input .o-checkbox:checked + .o-checkbox-label::after,
.-blue .c-validate-input .o-radio:checked + .o-checkbox-label::after,
.-blue .c-validate-input .o-checkbox:checked + .o-radio-label::after,
.-blue .c-validate-input .o-radio:checked + .o-radio-label::after {
    color: #3f8eda !important
}

.c-form-max-char {
    margin-bottom: 15px
}

.c-form-error h2 {
    font-size: 16px;
    font-weight: bold
}

.c-form-error ul {
    text-align: left
}

.c-checkbox-active .o-checkbox-label,
.c-checkbox-active .o-radio-label {
    margin-bottom: 0px !important
}

.c-check-select-plan {
    color: #d5355a;
    display: inline-block;
    margin-left: 10px
}

.c-editor-sidebar .c-check-select-plan {
    margin-top: 10px
}

.c-cname-how-to p {
    margin-bottom: 10px !important;
    line-height: 1.6em
}

.c-btn-show-how-to {
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
    padding-bottom: 15px
}

*:focus {
    outline: 0
}

.o-button {
    position: relative;
    line-height: 1.2em;
    color: #ffffff;
    z-index: 10
}

.o-button span {
    position: relative;
    display: inline-block;
    z-index: 3
}

@media (min-width: 1000px) {
    .o-button {
        padding: 0.6875rem 1.5rem;
        font-size: 1rem;
        min-height: 2.5rem
    }
    .o-button.-btn-small {
        min-height: 14px;
        font-size: 12px;
        padding: 6px 12px
    }
}

@media (max-width: 999px) {
    .o-button {
        padding: 11px 30px;
        font-size: 14px;
        min-height: 40px
    }
    .o-button.-btn-small {
        min-height: 14px;
        font-size: 12px;
        padding: 6px 12px
    }
}

.o-button::before,
.o-button::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1
}

@media (min-width: 1000px) {
    .o-button::before,
    .o-button::after {
        border-radius: 1.25rem
    }
}

@media (max-width: 999px) {
    .o-button::before,
    .o-button::after {
        border-radius: 20px
    }
}

.o-button::after {
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1)
}

.o-button:hover::after {
    opacity: 1
}

.o-button:hover.-blue {
    color: #ffffff
}

.c-nav-main .o-button:hover.-blue {
    color: #3f8eda
}

@media (min-width: 1000px) {
    .o-button.-arrow {
        padding-right: 3.875rem
    }
}

@media (max-width: 999px) {
    .o-button.-arrow {
        padding-right: 62px
    }
}

@media (min-width: 1000px) {
    .o-button.-arrow-left {
        padding-right: 1.5rem;
        padding-left: 3.875rem
    }
}

@media (max-width: 999px) {
    .o-button.-arrow-left {
        padding-right: 30px;
        padding-left: 62px
    }
}

.o-button.-shadow::before {
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1)
}

.o-button.-blue {
    color: #ffffff
}

.o-button.-blue::before {
    background: #3f8eda
}

.o-button.-blue::after {
    background: #54617a
}

.c-nav-main .o-button.-blue::after {
    background: #ffffff
}

.o-button.-gray {
    color: #ffffff
}

.o-button.-gray::before {
    background: #555
}

.o-button.-gray::after {
    background: #333
}

.c-nav-main .o-button.-gray::after {
    background: #ffffff
}

.o-button.-brown {
    color: #ffffff
}

.o-button.-brown::before {
    background: #cea67f;
    background: -webkit-gradient(linear, left top, left bottom, from(#cea67f), to(#d4b18d));
    background: linear-gradient(to bottom, #cea67f 0%, #d4b18d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cea67f', endColorstr='#d4b18d', GradientType=0)
}

.o-button.-brown::after {
    background: #54617a
}

.o-button_arrow {
    position: absolute !important;
    top: 0;
    right: 0;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 50%
}

.-arrow-left .o-button_arrow {
    left: 0;
    right: inherit
}

@media (min-width: 1000px) {
    .o-button_arrow {
        width: 2.5rem;
        height: 2.5rem;
        padding-top: 0.125rem
    }
}

@media (max-width: 999px) {
    .o-button_arrow {
        width: 40px;
        height: 40px;
        padding-top: 2px
    }
}

@media (min-width: 1000px) {
    .o-button_arrow i {
        font-size: 2.1875rem
    }
}

@media (max-width: 999px) {
    .o-button_arrow i {
        font-size: 35px
    }
}

.o-button-wrap {
    display: inline-block;
    margin-right: 10px
}