
/*body {
  background: #F1F3FA;
  }*/

  body{
    background-color: #2C3940;
  }

  /* Profile container */
  .profile {
    margin: 20px 0;
  }

  /* Profile sidebar */
  .profile-sidebar {
    padding: 30px 0 10px;
    background: #1b262d;
  }

  .profile-userpic img {
    float: none;
    margin: 15px auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .profile-usertitle {
    text-align: center;
    margin-top: 25px;
  }

  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }

  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .profile-userbuttons {
    text-align: center;
    margin-top: 10px;
  }

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }

  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }

  .profile-usermenu {
    margin-top: 30px;
    /*padding: 40px 0;*/
    min-height: 405px;
  }

  .profile-usermenu ul li {
    border-bottom: 1px solid #2c3940;
  }

  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }

  .profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 5px;
    line-height: 1.5;
  }

  .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
  }

  .profile-usermenu ul li a:hover {
    /*background-color: #fafcfd;*/
    background-color: #2c3940;
    color: #5b9bd1;
  }

  .profile-usermenu ul li.active {
    border-bottom: none;
  }

  .profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #2c3940;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
  }

  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #1b262d;
    min-height: 690px;
    /*color: #fff;*/
    color: #93a3b5;
  }

  /* ====start css for table=====*/
  h2 {
    text-align: center;
  }

  table caption {
    padding: .5em 0;
  }

  @media screen and (max-width: 767px) {
    table caption {
      border-bottom: 1px solid #ddd;
    }
  }

  .p {
    text-align: center;
    padding-top: 50px;
    font-size: 14px;
  }

  .table tbody tr:hover {
    /*background-color: #fafcfd;*/
    background-color: #2c3940;
    color: #5b9bd1;
  }

  .table tr th {
   text-align: center;
  }

  textarea.form-control {
    height: auto;
    background: #2c3940;
  }
  
/*end table css*/