/* ================== font start ========================*/
@font-face {
    font-family: Darleston;
    src: url("../fonts/Darleston.eot") /* EOT file for IE */
}
@font-face {
    font-family: Darleston;
    src: url("../fonts/Darleston.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family: GaramondBold;
    src: url("../fonts/GaramonBold.eot") /* EOT file for IE */
}
@font-face {
    font-family: GaramondBold;
    src: url("../fonts/GaramonBold.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family: GaramondItalic;
    src: url("../fonts/GaramondItalic.eot") /* EOT file for IE */
}
@font-face {
    font-family: GaramondItalic;
    src: url("../fonts/GaramondItalic.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
    font-family: GaramondRegular;
    src: url("../fonts/GaramondRegular.eot") /* EOT file for IE */
}
@font-face {
    font-family: GaramondRegular;
    src: url("../fonts/GaramondRegular.ttf") /* TTF file for CSS3 browsers */
}
/* font end =======================*/


/*================  navbar start  =========================*/
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 5px;
}
#logo{
    border: 1px solid #e98b05;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Darleston;
    font-size: 45px;
    color: #e98b05;
}

#bs-example-navbar-collapse-1 li a{
    font-family: GaramondRegular;
    font-size: 21px;
    color: #e98b05;
    border-bottom: 2px solid;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

#bs-example-navbar-collapse-1 a:before{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #e98b05;
    opacity: 0.3;
    transition: all 0.3s;
}

#bs-example-navbar-collapse-1 a:hover:before
{
    height: 100%;
}

#bs-example-navbar-collapse-1 li a:hover {
    /*color: red;*/
    /*border-bottom: 2px solid #e98b05;*/
    /*background: #e98b05;*/
    /*opacity: 0.3;*/
    /*transition: all 0.3s;*/

}

/* navbar end ===========================*/

/*================  panel start  =========================*/
#image{
    background-image: url("../images/home_bg.png");
    background-position: center;
    background-size: cover;
    height: 750px;
}

#panel h3{
    font-family: GaramondRegular;
    font-size: 20px;
    color: white;
}

#panel h1{
    font-family: Darleston;
    font-size: 70px;
    color: white;
    margin-top:10px ;
    margin-bottom:10px ;
}

#panel .text{
    /*border: 1px solid red;*/
    padding-top: 40px;
}

#panel button{
    font-family: GaramondRegular;
    font-size: 15px;
    color:#e98b05;
    margin-bottom: 10px;
    padding: 5px 10px;
}

#panel .icon2{
    margin-left: 80px;
}

#panel a img{
    margin-top: 25px;
    margin-bottom: 70px;
}

#panel form h4{
    font-family: Garamond;
    color:white;
    font-size: 20px;
}

#panel form label{
    font-family: Garamond;
    color:white;
    font-size: 15px;
}

.form-group {
    margin-bottom: 5px;
}

.reserve{
    font-family: GaramondRegular;
    font-size: 15px;
    color:#e98b05;
    padding:5px 20px;

}
/* panel end ===========================*/






/*================  service start  =========================*/
.service{
    /*border: 1px solid black;*/
}

.service .col-md-4{
    /*border: 1px solid red;*/
    margin-top: 20px;
    font-family: Darleston;
    color: #d48112;
}

.service h1{
    text-align: center;
    font-family: GaramondBold;
    color: #d48112;
    font-weight: bold;
}

.service h2{
    text-align: center;
    font-size: 50px;
}

.service p{
    text-align:justify;
    padding-left: 75px;
    padding-right: 75px;
    font-family: GaramondRegular;
    font-size: 15px;
}
/* service end  =========================*/

/*================  gallery start  =========================*/
.photo_gallery{
    background-color: #d48112;
    margin-bottom: 3%;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: transparent;
    filter: alpha(opacity=50);
    opacity: 1;
}

.photo_gallery h1 {
    font-size: 44px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    color: #fff;
}
.photo_gallery p{
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 5%;

}

.photo_gallery h2{
    font-family: "Darleston";
    color: #fff;
    font-size: 50px;

}
img.img-responsive.col-md-6.col-md-offset-3 {
    padding: 0px;
    border-left: 25px solid #fff;
    border-right: 25px solid #fff;
    border-top: 15px solid #fff;
    border-bottom: 15px solid #fff;
    margin-bottom: 2%;
}
.photo_left{
    top: -35%;
}

.photo_right{
    top:-35%;
}
/* gallery end ===========================*/

/*================  testimonial start  =========================*/
.testimonial_img {
    border: 5px solid #d48112;
}

.testimonial p{
    font-family: 'Cormorant Garamond', serif;
    color: #d48112;
    font-size: 20px;
    margin-top: 2%;
}
.testimonial h3{
    font-family: 'Cormorant Garamond', serif;
    color: #d48112;
    font-weight: bolder;
}
.testimonial h5{
    font-family: 'Cormorant Garamond', serif;
    color: #d48112;
}
.test_left{
    top: -5%;
    color: #d48112

}

.test_right{
    top:-5%;
    color: #d48112
}
#testimonial h1{
    font-family: GaramondBold;
    font-size:30px ;
    color:#e98b05 ;
}

/* testimonial end ===========================*/

/*================  footer start  =========================*/
.footer{
    /*border: 1px solid green;*/
    color: #fcfbf9;
    background: #e98b05;
}
.footer h1{
    font-family:Darleston;
    font-size: 40px;
}
.footer img{
    margin-top: 40px;
}
/* footer end ===========================*/