/*fonts*/
/*@font-face {*/
    /*font-family: "MuseoSans";*/
    /*src: url("../fonts/MuseoSans_500_Italic.otf")*/
/*}*/
/*@font-face {*/
    /*font-family: "MuseoSans";*/
    /*src: url("../fonts/MuseoSans_500_Italic.ttf")*/
/*}*/


/*=================== predefined class start ==========*/
.floatleft{
    float: left;
}
.floatright{
    float: right;
}
.clearfix{
    overflow: hidden;
}
/*predefined class end*/


h1{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #444;
}

p, a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}


/*============== top wrapper start  ==============================*/
.top_wrapper {
    /*border: 1px solid lime;*/
    width:100%;
    height: auto;
}

.topbar {
    margin:0 auto;
    width: 960px;
}

.contact {
}

.phone {
    margin-right: 20px;
}
.phone > p {
    font-size: 12px;
    color: #444;

}
.phone > p >img{
    width: 7px;
    margin-right: 3px;
}

.email {

}

.email > P{
    font-size: 12px;
}

.email > P > a{
    color: #444;
}

.email > p >img{
    width: 13px;
    margin-right: 3px;
}

.top_menu {
    margin-top: 10px;
}

.top_menu > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.top_menu > ul > li {
    display: inline;
    float: left;
    margin-right: 20px;
}

.top_menu > ul > li:last-child {
    display: inline;
    float: left;
    margin-right: 0px;
}

.top_menu > ul > li > a{
    display: block;
    text-transform: uppercase;
    color: #444;
    font-size: 14px;
    font-weight: 400;
}
/*top wrapper end*/

/*==================header wrapper start==========================*/
.header_wrapper {
    border: solid  #F5F6D7;
    border-width: 5px 2px ;
    width:100%;
    height: auto;
    background: #f5f6f1;
    padding: 20px 0 15px;
    margin-bottom: 30px;
}

.header {
    margin: 0 auto;
    width: 960px;
}

.logo {
    width: 300px;
}

.logo_text {
    padding-top: 25px;
    padding-right: 10px;
}

.logo_text > p{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

.logo_text > h1{
    text-transform: uppercase;
    font-size: 42px;
    line-height: 15px;
    color: #444;
}

.logo_image {
}

.logo_image > img {
    padding-top: 14px;
}


.nav {
    padding-top: 30px;
}

.nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav > ul > li{
    display: inline;
    float: left;
    margin-right: 20px;
}
.nav > ul > .color{
    color: #f5655e;
    font-weight: bold;
}
.nav > ul > li > a{
    display: block;
    text-transform: uppercase;
    color: #444;
    font-size: 15px;
    font-weight: 600;
}

.cart {
}

.cart_text {
    padding-top: 11px;
    padding-right: 8px;
}
.cart_text > p {
    line-height: 0px;
    color: #444444;
}

.cart_text > b {
    font-size: 16px;
    font-weight: 400;
    color: #444444;
}

.cart_img {
}

.cart_img > img{
    width: 36px;
    padding-top: 25px;
}
/*header wrapper end*/

/*================== slider wrapper start =====================*/
.slider_wrapper {
    /*border: 1px solid olive;*/
    width:100%;
    height: auto;
}

.slider {
    margin: 0 auto;
    width: 960px;
}

.slider_position {
    position: relative;
}

.slider_position > img {
    width: 960px;
}

.slider_text {
    position: absolute;
    top:62px;
}

.slider_text > h1  {
    font-size: 52px;
    color: white;
    padding-left: 80px;
    line-height: 74px;
}

.slider_image {

}

.slider_image > img {
    position: absolute;
    top: 145px;
    right: 0px;
    width: 405px;
}
/*slider wrapper end*/

/*=============== service wrapper start =======================*/
.service_wrapper {
    /*border: 1px solid orange;*/
    width:100%;
    height: auto;
    margin: 30px 0px;
}

.service {
    margin: 0 auto;
    width: 960px;
}

.shipping {
    float: left;
    background: #f5f6f1;
    width: 302px;
    margin-right: 27px;
    border: solid #F5F6D7;
    border-width: 5px 0px;
}

.shipping > h1{
    text-align: center;
    line-height: 10px;
    padding: 30px 15px 0;
    color: #444444;
    font-size: 25px;
}

.shipping > p{
    text-align: center;
    color: #444444;
    font-size: 14px;
}

.shipping> p > a{
    color: #f55856;
}

.collection {
    float: left;
    background: #f5f6f1;
    width: 302px;
    margin-right: 27px;
    border: solid #F5F6D7;
    border-width: 5px 0px;
}
.collection > h1 {
    text-align: center;
    line-height: 10px;
    padding: 30px 15px 0;
    color: #444444;
    font-size: 25px;
}
.collection > p {
    text-align: center;
    color: #444444;
    font-size: 14px;
}

.collection > p > a{
    color: #f55856;
}

.guaranty {
    float: left;
    background: #f5f6f1;
    width: 302px;
    margin-right: 0px;
    border: solid #F5F6D7;
    border-width: 5px 0px;
}
.guaranty > h1 {
    text-align: center;
    line-height: 10px;
    padding: 30px 15px 0;
    color: #444444;
    font-size: 25px;
}
.guaranty > p {
    text-align: center;
    color: #444444;
    font-size: 14px;
}

.guaranty > p > a{
    color: #f55856;
}

/*service wrapper end*/

/*==================== portfolio_one_wrapper start=======================*/
.portfolio_one_wrapper {
    border: solid #eeeeee;
    border-width: 2px 0;
    width:100%;
    height: auto;
    background: #f8f8f8;
    padding: 30px 0;
}

.portfolio_one {
    margin: 0 auto;
    width: 960px;
}

.portfolio_heading {
    background: url("../images/heading_thin_icon.png");
    height: 3px;
    position: relative;
    margin-bottom: 30px;
}

.portfolio_heading > h1 {
    /*text-align: center;*/
    position: absolute;
    left: 355px;
    bottom: -18px;
    padding: 2px 10px;
    font-size: 25px;
    background: #f8f8f8;
}
.portfolio_heading > img {
    /*position: absolute;*/
    width: 100%;
    height: 1px;
    float: left;
    margin-top: 5px;
}
.one_wrapper {
    float: left;
    width: 310px;
    margin-right: 15px;
}
.one_wrapper:last-child {
    float: left;
    width: 310px;
    margin-right: 0px;
}
.one_wrapper > img{
    width: 100%;
}
.one {
    background: white;
    padding: 20px 20px 15px;
}
.one > h1 {
    line-height: 20px;
}
.one > a {
    color: #f55856;
}
.one > p {
    font-style: italic;
}
/*portfolio_one_wrapper end*/

/*==================== portfolio_two_wrapper start ==================*/
.portfolio_two_wrapper {
    width:100%;
    height: auto;
    padding: 30px 0;
}

.portfolio_two {
    margin: 0 auto;
    width: 960px;
}

.two_wrapper {
    float: left;
    width: 228px;
    margin-right: 15px;
}
.two_wrapper:last-child {
    float: left;
    width: 230px;
    margin-right: 0px;
}
.two_wrapper > img{
    width: 100%;
}
.two {
}

.two > a{
    display: block;
    text-align: center;
    background: #463f3a;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    font-family: "oswald";
}

.two > p{
    line-height: 12px;
}
/*portfolio_two_wrapper end*/

/*===============  portfolio_three_wrapper start  ========================*/
.portfolio_three_wrapper {
    /*border: solid  #F5F6D7;*/
    /*border-width: 5px 2px ;*/
    border: solid #eeeeee;
    border-width: 2px 0;
    width:100%;
    height: auto;
    background: #f8f8f8;
    padding: 30px 0;
}

.portfolio_three {
    margin: 0 auto;
    width: 960px;
}

.three_wrapper {
    float: left;
    width: 228px;
    margin-right: 15px;
}
.three_wrapper:last-child {
    float: left;
    width: 230px;
    margin-right: 0px;
}

.three_wrapper > img{
    width: 100%;
}
.three {
}

.three > a{
    display: block;
    text-align: center;
    background: #463f3a;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0;
    font-family: "oswald";
}

.three > p{
    line-height: 12px;
}
/*portfolio_three_wrapper end*/

/*================= portfolio_four_wrapper start =====================*/
.portfolio_four_wrapper {
    width:100%;
    height: auto;
    padding: 30px 0 60px;
}

.portfolio_four {
    margin: 0 auto;
    width: 960px;
}

.four_wrapper {
    float: left;
    width: 310px;
    margin-right: 15px;
}
.four_wrapper:last-child {
    float: left;
    width: 310px;
    margin-right: 0px;
}
.four_wrapper > img{
    width: 100%;
}

.four {

}
.four > p {
    margin: 8px 0 8px;
    text-align: justify;
    font-size: 15px;
}

.four >  a {
    color: #f55856;
}
/*portfolio_four_wrapper end*/

/*================= welcome_wrapper start ===================*/
.welcome_wrapper {
    border: solid  #F5F6D7;
    border-width: 5px 2px ;
    width:100%;
    height: auto;
    background: #f2f2f0;
    padding-top: 23px;
    padding-bottom: 10px;
}

.welcome {
    margin: 0 auto;
    width: 960px;
}

.welcome > h1 {
    text-align: center;

}
.welcome > p {
    text-align: center;
    line-height: 0px;

}

.welcome > p > a{
    color: #f66766;

}
/*welcome_wrapper end*/

/*================== footer_wrapper start ========================*/
.footer_wrapper {

    width:100%;
    height: auto;
    background: #463f3a;
    padding: 30px 0 25px;
    margin-bottom: 30px;
}

.footer {
    margin: 0 auto;
    width: 960px;
}

.footer_logo {
    width: 300px;
}

.footer_logo_text {
    padding-top: 25px;
    padding-right: 10px;
}
.footer_logo_text > h1 {
    font-size: 40px;
    line-height: 15px;
    color: white;
}
.footer_logo_text > p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: white;
}
.footer_logo_image > img {
    padding-top: 14px;
}

.footer_nav {
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 30px;
}
.footer_nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_nav > ul > li{
    display: inline;
    float: left;
    margin-right: 20px;
    color: #f55856;
}
.footer_nav > ul > li > a{
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.footer_nav > p{
    font-size: 14px;
    text-align: center;
    color: white;
}
.footer_nav > p > a{
    color: #f55856;
}
.footer_top_icon {
    background: rgba(0,0,0,2);
    padding:10px;
    margin-top: 20px;
}
/*footer_wrapper end*/

/*footer_bottom_wrapper start*/
.footer_bottom_wrapper {
    width: 100%;
    height: auto;
}

.footer_bottom {
    margin: 0 auto;
    width: 960px;
}

.social {
    padding-top: 10px;
}
.social > ul {
    list-style: none;
    margin: 0;
    padding: 1px;

}

.social > ul > li {
    display: inline;
    float: left;
    margin-right: 20px;

}

.social > ul > li > a {
    display: block;

}

.social > ul > li > a > img {


}

.copyright {
}
.copyright > p {

}
.design_by > p > a {
    color: #f55856;

}
/*footer_bottom_wrapper end*/