


.com_bgc{
	background-color:#8296ad;
}
.padding_r_dis{
	padding-right: 0px;
}
.header{
	min-height: 100px;
}

.header_common{
	background-color: #fff;
	min-height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hero{
	min-height: 200px;
}
.hero_common{
	background-color: #fff;
	min-height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hero, .body, .footer{
	margin-top: 15px;
	margin-bottom: 15px;
}
.ad{
	min-height: 225px;
	background-color: #6bc69b;
}
