/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
body{
	/*margin:0 auto;*/
	font-family: 'Roboto', sans-serif;
	color: #000;
	padding-top: 70px;
}
body h2{
	/*font-size: 38px;*/
	text-align: center;
	font-weight: 600;
}
.main-container{
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.text-container{
	margin:auto;
	max-width: 960px;
	padding-left: 20px;
	padding-right: 20px;
}
/*header start=======================*/
header{
	width: 100%;
	height: auto;
	background-color:#265467;
	position: fixed;
	top: 0;
	z-index: 100;
	padding-bottom: 15px;
}
header .logo{
	height: auto;
	float: left;
	width: 20%;
}
header .logo img{
	max-width: 250px;
	padding-top: 7%;
}
header .tag-line{
	padding-top: 32px;
	float: right;
	width: 80%;
}
header .tag-line p{
	padding-left: 66px;
	color: #fff;
	font-size: 25px;
	font-size: 16px;
	text-shadow: 3px 3px 10px #000
}
header .tag-line .strong-word{
	font-size: 19px;
	font-weight: 700;
}
/*banner start====================*/
/*overlay========*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.article {
	width: 100%;
	min-height:500px;
	border:1px solid grey;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
	color:white;
}
.image {
	background-image: url(../images/banner5.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.overlay:before{
	position: absolute;
	content:" ";
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	z-index:0;
	background-color: rgba(38,84,103,0.6);
}
.article * {
	position: relative;
}
/*========overlay end*/
.top-intro{
	text-align: center;
	overflow: hidden;
}
.top-intro .quote{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 2.5px;
	padding-top: 60px;
	padding-bottom: 10px;
	text-align: center;
}
.top-intro h1{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-weight: 600;
	font-size: 56px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.top-intro h3{
	font-size: 28px;
	letter-spacing: 1px;
	font-weight: 300;
	padding: 35px 0px 35px 0px;
}
.top-intro p{
	font-size: 22px;
	padding-top: 30px;
	padding-bottom: 30px;
	letter-spacing: 1px;
	line-height: 1.5;
	margin-bottom: 0;
	font-weight: 300;
}
/* =====================banner end*/
/*banner_2 start ===================*/
.banner_2 hr{
	margin-top: 0;
	margin-bottom: 0;
}
/*===================== banner_2 end*/
/*cloo2 start========================*/
.cl002 h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-top: 30px;
}
.cl002 h4{
	font-size: 24px;
	font-weight: 300;
	padding: 35px 0px 0px 0px;
	color: #000;
	letter-spacing: 1px;
	line-height: 1.5;
}
.cl002 p{
	text-align: center;
	font-size: 22px;
	font-weight: 300;
	padding-top: 30px;
	padding-bottom: 30px;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #000;
}
/*====================cl002 end*/
/*introducing start============*/
.articles {
	width: 100%;
	min-height:300px;
	border:1px solid grey;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
	color:white;
}
.images {
	background-image: url(../images/banner4.jpeg);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
}
.overlay:before{
	position: absolute;
	content:" ";
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	z-index:0;
	background-color: rgba(38,84,103,0.6);
}
.articles * {
	position: relative;
}
/*overlay end*/
.intro .custom{
	margin-top: 78px;
	margin-bottom: 20px;
	border-top: 0px solid grey;
}
.intro h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-top: 30px;
}
.intro h4{
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 300;
	padding: 35px 0px;
	text-align: center;
}
.sign-up{
	font-family: 'Roboto',sans-serif;
	color: white;
	border: 3px solid #000000;
	background-color: #235067;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 33px;
	font-size: 22px;
	display: block;
	margin: 0 auto;
	padding: 9px 43px 9px 46px;
	max-width: 275px;
	height: 55px;
	transition: .5s;
	margin-bottom: 60px;
}
.sign-up:hover{
	background-color: #fff;
	color: #265467;
	text-decoration: none;
}
/*=================intro end*/
/*work start================*/
.work{
	overflow: hidden;
}
.work h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-top: 30px;
	padding-bottom: 30px;
}
.work_content{
	padding: 15px 10px;
	overflow: hidden;
}
.single_item{
}
.rec{
	border: 1px solid black;
	width: 90px;
	height: 90px;
	padding: 40px 0;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
	transition: .5s;
}
.rec:hover{
	background-color: #265467;
	color: white;
}
.single_item h3{
	font-size: 22px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #000;
	font-weight: 700;
	text-align: center;
}
.single_item p{
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: lighter;
}
.work_img{
	padding: 40px 0;
}
.works .biz-news{
	display: block;
	margin: 0 auto;
	border-width:8px;
	border: 1px double #ccc;
	outline: 1px solid #ccc;
	outline-offset: -9px;
	padding: 57px;
	margin-top: 35px;
	margin-bottom: 40px;
	position: relative;
	z-index: 10;
}
.works .biz-news p{
	font-size: 22px;
	letter-spacing: 1.5px;
	line-height: 1.5;
	font-weight: lighter;
	color: #000;
}
.works .biz-news h3{
	font-size: 24px;
	padding-bottom: 28px;
	padding-top: 28px;
	color: #000;
}
.works .biz-news .foot{
	color: #000;
	font-size: 15px;
	letter-spacing: 1px;
	padding-top: 66px;
}
/*===============works end*/
/*guesswork start==========*/
.guesswork{
	padding-bottom: 50px;
}
.guesswork h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: #000;
	font-size: 36px;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.guesswork h4{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 300;
	text-align: center;
	padding-bottom: 60px;
	color: #000;
}
.guesswork .gueswork-text{
	text-align: left;
	font-weight: 600;
	font-size: 28px;
	border-top: 3px solid #000;
	color: #000;
	padding-top: 12px;
	padding-bottom: 9px;
}
.guesswork .media{
	width: 100%;
	margin-top: -7px;
}
.guesswork .media .imagebox{
	max-width: 28%;
	float: left;
}
.guesswork .media .imagebox img{
	border-radius: 50px;
	min-height: auto;
	max-width: 80px;
	min-height: 80px;
}
.guesswork .media .text{
	float: left;
	width: 20%;
}
.guesswork .media .text h5{
	font-weight: 600;
	font-size: 20px;
	padding-left: 25px;
	padding-top: 17px;
}
.guesswork .media .text p{
	font-size: 15px;
	padding-left: 25px;
	margin-top: -9px;
}
/*investing start==============*/
/*.articless {
	width: 100%;
	min-height:300px;
	border:1px solid grey;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
	color:white;
}
.imagess {
	background-image: url(../images/banner2.jpeg);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
}
.overlay:before{
	position: absolute;
	content:" ";
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: block;
	z-index:0;
	background-color: rgba(38,84,103,0.6);
}
.articles * {
	position: relative;
}*/
/*overlay end*/
.invest button{
	font-family: 'Roboto',sans-serif;
	border: none;
	font-weight: 700;
	color: #e8c1e5;
	border: 3px solid #000000;
	background-color: #235067;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 33px;
	font-size: 22px;
	display: block;
	margin: 0 auto;
	padding: 9px 43px 9px 43px;
}
.invest{
	background-color: #265467;
	padding-top: 5px;
	padding-bottom: 5px;
}
.invest h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	color: white;
	font-size: 36px;
	line-height: 1.2;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.invest .para{
	padding-top: 20px;
	padding-bottom: 40px;
}
.invest .para p{
	font-size: 22px;
	letter-spacing: 1.5px;
	font-weight: lighter;
	color: white;
	text-align: center;
	transition: .5s;
}
.invest .para p:hover{
	background-color: #265467;
	border-radius: 10px;
}
.invest button:hover{
	background-color: #fff;
	color: red;
	cursor: pointer;
}
/*===============invest end*/
/*post2 start==============*/
.post2 {
	overflow: hidden;
	margin-top: 70px;
	/*padding-bottom: 77px;*/
}
.post2 .gueswork-text {
	text-align: left;
	font-weight: 700;
	font-size:28px;
	border-top: 3px solid #000;
	color: #000;
	padding-top: 14px;
	padding-bottom: 6px;
}
.post2 .media{
	margin-top: -7px;
}
.post2 .media .imagebox{
	max-width: 9%;
	float: left;
}
.post2 .media .imagebox img{
	border-radius: 50px;
	min-height: auto;
	max-width: 80px;
	min-height: 81px;
}
.post2 .media .text{
	float: left;
	width: 49%;
}
.post2 .media .text h5{
	font-weight: 600;
	font-size: 18px;
	padding-left: 25px;
	padding-top: 17px;
	color: #000;
}
.post2 .media .text p{
	font-size: 14px;
	padding-left: 25px;
	margin-top: -9px;
	color: #000;
}

/*news start============*/
.news{
	overflow: hidden;
}
.news h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	padding-top: 20px;
	padding-bottom: 30px;
}
.news h3{
	font-size: 24px;
	font-weight: 300;
	color: #000;
	text-align: center;

}
.news .tech-news{
	display: block;
	margin: 0 auto;
	border-width:8px;
	border: 1px double #ccc;
	outline: 1px solid #ccc;
	outline-offset: -9px;
	padding: 57px;
	margin-top: 70px;
	margin-bottom: 40px;
	position: relative;
	z-index: 10;
}
.news .tech-news p{
	font-size: 22px;
	letter-spacing: 1.5px;
	line-height: 1.5;
	font-weight: lighter;
	color: #000;
}
.news .tech-news h3{
	font-size: 24px;
	padding-bottom: 28px;
	padding-top: 28px;
	color: #000;
}
.news .tech-news .foot{
	color: #000;
	font-size: 15px;
	padding-top: 66px;
	color: #000;
}
/*access start*/
.access{
	background-color: #265467;
	padding-top: 20px;
	padding-bottom: 10px;
}
.access h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 36px;
	color: white;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-top: 20px;
	padding-bottom: 30px;
}
.access .contain{
	width: 64%;
	margin: 0 auto;
}
.access .contain h3{
	font-size: 24px;
	line-height: 1.5;
	font-weight: 300;
	text-align: center;
	padding-bottom: 40px;
	color: white;
	letter-spacing: 1px;
}
.access button{
	font-family: 'Roboto',sans-serif;
	border: none;
	font-weight: 700;
	color: #e8c1e5;
	border: 3px solid #000000;
	background-color: #235067;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 33px;
	font-size: 22px;
	display: block;
	margin: 0 auto;
	padding: 9px 43px 9px 43px;
}
.access button:hover{
	background-color: #fff;
	color: red;
	cursor: pointer;
}
/*bottom-footer start;*/
.bottom-footer{
	background-color: white;
	padding-top: 29px;
	padding-bottom: 21px;
}
.bottom-footer .navbar .navbar-nav{
	margin: 0 auto;
	display: block;
	text-align: center;
	float: none;
}
.bottom-footer .navbar .navbar-nav .nav-item {
	display: inline-block;
}
.bottom-footer .navbar .navbar-nav .nav-link {
	color: #265467;
	font-size: 14px;
	padding: 17px 18px;
	text-decoration: none;
	transition: .5s;
}
.bottom-footer .navbar .navbar-nav .nav-link:hover{
	color: white;
	background-color: #265467;
}
.bottom-footer .navbar .navbar {
	padding: 0px;
}
.bottom-footer .para{
	width: 100%;
	margin: 0 auto;
}
.bottom-footer .para p{
	text-align: center;
	color: #265467;
	font-size: 14px;
}
/*media */
@media screen and (max-width: 991px){
	header .tag-line {
		width: 74%;
	}
	header .tag-line p {
		padding-left: 66px;
		color: #fff;
		font-size: 25px;
		font-size: 13px;
	}
	.top-intro .quote {
		font-size: 16px;
	}
	.top-intro h1 {
		font-size: 42px;
	}
	.top-intro h3 {
		font-size: 22px;
	}
	.top-intro p {
		font-size: 18px;
	}
	.cl002 h2 {
		font-size: 29px;
	}
	.cl002 h4 {
		font-size: 19px;
	}
	.cl002 p {
		font-size: 18px;
	}
	.intro h2 {
		font-size: 30px;
	}
	.intro h4 {
		font-size: 22px;
	}
	.intro button {
		font-size: 18px;
		padding: 9px 28px 9px 28px;
	}
	.works h2 {
		font-size: 32px;
	}
	.works .biz-news p {
		font-size: 18px;
	}
	.works .biz-news .foot {
		font-size: 14px;
	}
	.works .biz-news h3 {
		font-size: 18px;
	}
	.guesswork h3 {
		font-size: 32px;
	}
	.guesswork h4 {
		font-size: 22px;
	}
	.guesswork .gueswork-text {
		font-size: 22px;
	}
	.guesswork .media .imagebox {
		max-width: 28%;
	}
	.guesswork .media .text {
		width: 57%;
	}
	.guesswork .media .text h5 {
		font-size: 17px;
	}
	.guesswork .media .text p {
		font-size: 14px;
	}
	.invest {
		padding-top: 20px;
	}
	.invest h2 {
		font-size: 32px;
	}
	.invest .para {
		padding-top: 0px;
		padding-bottom: 34px;
	}
	.invest .para p {
		font-size: 20px;
	}
	.invest button {
		font-size: 19px;
		padding: 9px 28px 9px 28px;
	}
	.post2 {
		margin-top: 92px;
		padding-bottom: 45px;
	}
	.post2 .gueswork-text {
		font-size: 22px;
	}
	.post2 .media .imagebox {
		max-width: 17%;
		}.post2 .media .text h5 {
			font-size: 17px;
		}
		.news h2 {
			font-size: 32px;
		}
		.news h3 {
			font-size: 22px;
			letter-spacing: 1px;
		}
		.news .tech-news p {
			font-size: 18px;
		}
		.news .tech-news .foot {
			font-size: 14px;
		}
		.access h2 {
			font-size: 32px;
		}
		.access .contain h3 {
			font-size: 22px;
		}
		.access button {
			font-size: 13px;
			padding: 7px 18px 7px 18px;
		}
	}
	@media screen and (max-width: 767px){
		header .tag-line{
			padding-top: 13px;
		}
		header .logo img{
			max-width: 133px;
			padding-top: 18%;
		}
		header .tag-line p {
			font-size: 11px;
			padding-top: 15px;
			padding-left:0px;
		}
		.top-intro .quote{
			letter-spacing: 2.5px;
		}
		.top-intro {
			padding-top: 7px;
			padding-bottom: 0px;
		}
		.top-intro h1 {
			font-size: 30px;
		}
		.top-intro h3 {
			font-size: 17px;
			padding: 13px 0px 13px 0px;
		}
		.top-intro p {
			font-size: 14px;
			padding-top: 14px;
			padding-bottom: 14px;
		}
		.custom {
			margin-top: 30px;
		}
		.cl002 h2 {
			font-size: 20px;
			padding-top: 10px;
			padding-bottom: 0px;
		}
		.cl002 h4 {
			font-size: 16px;
			padding: 24px 0px 24px 0px;
		}
		.cl002 p {
			font-size: 14px;
			padding-top: 7px;
			padding-bottom: 0px;
		}
		.intro h2 {
			font-size: 20px;
			padding-top: 12px;
			padding-bottom: 0px;
		}
		.intro h4 {
			font-size: 17px;
			padding: 26px 0px 26px 0px;
		}
		.intro .custom {
			margin-top: 50px;
		}
		.works h2 {
			font-size: 20px;
			padding-top: 20px;
			padding-bottom: 17px;
		}
		.works .biz-news p {
			font-size: 14px;
		}
		.works .biz-news h3 {
			font-size: 14px;
			padding-bottom: 15px;
			padding-top: 6px;
		}
		.works .biz-news {
			padding: 38px;
			margin-top: 61px;
		}
		.works .biz-news .foot {
			padding-top: 20px;
		}
		.guesswork h3 {
			font-size: 20px;
			padding-top: 8px;
			padding-bottom: 24px;
		}
		.guesswork h4 {
			font-size: 17px;
			padding-bottom: 28px;
		}
		.guesswork .gueswork-text {
			font-size: 20px;
			border-top: 2px solid #000;
			padding-top: 23px;
			padding-bottom: 23px;
		}
		.guesswork .media .imagebox img {
			max-width: 71px;
			min-height: 71px;
		}
		.guesswork .media .text h5 {
			font-size: 14px;
		}
		.guesswork .media .text p {
			font-size: 13px;
		}
		.invest {
			margin-top: 51px;
		}
		.invest h2 {
			font-size: 22px;
		}
		.invest h2 {
			padding-top: 0px;
			padding-bottom: 12px;
		}
		.invest .para p {
			font-size: 17px;
			margin: 0 0 3px;
		}
		.invest .para {
			padding-top: 0px;
			padding-bottom: 20px;
		}
		.invest button{
			font-size: 13px;
			padding: 7px 18px 7px 18px;
		}
		.invest {
			padding-bottom: 41px;
		}
		.post2 {
			margin-top: 65px;
			padding-bottom: 11px;
		}
		.post2 .gueswork-text {
			border-top: 2px solid #000;
			color: #000;
			padding-top: 14px;
			padding-bottom: 6px;
		}
		.post2 .media .text {
			float: left;
			width: 64%;
		}
		.post2 .media .text h5 {
			font-size: 15px;
			padding-top: 1px;
		}
		.post2 .media .text p {
			font-size: 13px;
			font-weight: 300px;
		}
		.post2 .media .imagebox{
			max-width: 41%;
		}
		.post2 .media .imagebox img{
			max-width: 71px;
			min-height: 71px;
		}
		.news h2 {
			font-size: 20px;
			margin-top: 2px;
			margin-bottom: -14px;
		}
		.news h3 {
			font-size: 17px;
		}
		.news .tech-news {
			padding: 37px;
			margin-top: 50px;
		}
		.news .tech-news p {
			font-size: 14px;
		}
		.news .tech-news .foot {
			font-size: 14px;
			padding-top: 18px;
		}
		.access h2 {
			font-size: 20px;
			padding-top: 0px;
			padding-bottom: 15px
		}
		.access .contain h3 {
			font-size: 17px;
		}
		.bottom-footer .para p{
			font-size: 11px;
			padding-top: 0px;
		}
		.bottom-footer .navbar .collapse {
			display: block
		}
		.bottom-footer .navbar .navbar-nav .nav-item {
			display: inline-block;
		}
		@media screen and (max-width: 575px){
			header {
				width: 100%;
			}
			header .logo {
				width: 100%;
			}
			header .logo img {
				max-width: 148px;
				margin: 0 auto;
				padding-top: 13px;
			}
			header .tag-line {
				width: 100%;
				padding-top: 7px;
			}
			header .tag-line p {
				font-size: 11px;
				text-align: center;
				padding-left: 0px;
				padding-top: 0px;
			}
			header .tag-line .strong-word{
				font-size: 12px;
			}
			body {
				/*padding-top: 114px;*/
			}
			header .logo img {
				max-width: 148px;
				margin: 0 auto;
			}
			.top-intro .quote {
				font-size: 11px;
				letter-spacing: 1px;
				padding-top: 57px;
				padding-bottom: 13px;
			}
			.top-intro h1 {
				font-size: 22px;
			}
			.top-intro h3 {
				font-size: 15px;
			}
			.top-intro p {
				font-size: 13px;
			}
			.cl002 h2 {
				font-size: 16px;
			}
			.cl002 h4 {
				font-size: 15px;
			}
			.cl002 p {
				font-size: 13px;
			}
			.intro h2 {
				font-size: 16px;
			}
			.intro h4 {
				font-size: 16px;
			}
			.works h2 {
				font-size: 16px;
			}
			.works .text h3 {
				font-size: 12px
			}
			.works .text p {
				font-size: 12px;
			}
			.works .biz-news p {
				font-size: 12px;
				font-weight: 300;
			}
			.works .biz-news {
				padding: 20px;
			}
			.works .biz-news h3 {
				font-size: 12px;
				padding-bottom: 10px;
				padding-top: 0px;
			}
			.works .biz-news .foot {
				padding-top: 16px;
			}
			.works .biz-news .foot {
				font-size: 11px;
			}
			.guesswork h3 {
				font-size: 16px;
				padding-top: 0px;
				padding-bottom: 15px;
			}
			.guesswork h4 {
				font-size: 15px
			}
			.guesswork .gueswork-text {
				font-size: 16px;
				border-top: 2px solid #000;
			}
			.guesswork svg:not(:root){
				overflow: hidden;
				height: 20px !important;
			}
			.guesswork .media {
				width: 100%;
				margin-top: 1px;
			}
			.invest h2 {
				font-size: 16px;
			}
			.invest .para p {
				font-size: 14px;
			}
			.invest button {
				font-size: 13px;
				padding: 7px 18px 7px 18px;
			}
			.post2 .gueswork-text {
				font-size: 16px;
				border-top: 2px solid #000;
				padding-top: 17px;
				padding-bottom: 0px;
			}
			.post2 .media .text h5 {
				font-size: 14px;
			}
			.news h2 {
				font-size: 16px;
			}
			.news h3 {
				font-size: 16px;
			}
			.news .tech-news {
				padding: 20px;
			}
			.news .tech-news p {
				font-size: 12px;
				line-height: 1.5;
			}
			.access h2 {
				font-size: 16px;
			}
			.access .contain h3 {
				font-size: 16px;
				padding-bottom: 43px;
			}
			.bottom-footer .navbar {
				margin-bottom: 1px;
			}
			.bottom-footer .navbar .navbar-nav .nav-link {
				font-size: 10px;
			}
			.bottom-footer {
				background-color: #235067;
				padding-top: 22px;
				padding-bottom: 22px;
			}
			.bottom-footer .para p{
				font-size: 10px;
				padding-top: 0px;
			}
			.custom {
				margin-top: 61px;
			}
		}
		@media screen and (max-width: 480px){
			header {
				padding-bottom: 3px;
				padding-top: 11px;
			}
			header .logo img {
				max-width: 115px;
				padding-top: 1px;
			}
			header .tag-line p {
				font-size: 10px;
			}
			.top-intro .quote {
				padding-top: 16px;
				padding-bottom: 0px;
			}
			.top-intro h1 {
				font-size: 18px;
			}
			.top-intro h3 {
				font-size: 14px;
			}
			.top-intro p {
				font-size: 12px;
				font-weight: 300;
			}
			.cl002 h2 {
				font-size: 15px;
			}
			.cl002 h4 {
				font-size: 14px;
			}
			.cl002 p {
				font-size: 12px;
				font-weight: 300;
			}
			.intro h2 {
				font-size: 15px;
			}
			.intro h4{
				font-size: 15px;
				line-height: 1.5;
			}
			.works .biz-news h3 {
				font-size: 12px;
				padding-bottom: 4px;
			}
			.guesswork h3 {
				font-size: 15px;
			}
			.guesswork .gueswork-text {
				font-size: 15px;
			}
			.invest {
				padding-bottom: 29px;
				margin-top: 14px;
			}
			.invest h2 {
				padding-bottom: 0px;
			}
			.invest .para p {
				font-weight: 300;
			}
			.post2 .gueswork-text {
				font-size: 15px;
				border-top: 2px solid #000;
			}
			.news .tech-news p {
				font-weight: 300;
			}
			.news .tech-news .foot {
				font-size: 11px;
				letter-spacing: 1px;
			}
			.access h2 {
				font-size: 15px;
			}
			.news h3 {
				padding-top: 18px;
			}
		}
		.access .contain {
			width: 100%;
		}
		.access .contain h3 {
			font-size: 15px;
			padding-bottom: 24px;
		}
		.bottom-footer .para p {
			font-size: 11px;
			letter-spacing: 1px;
			font-weight: 100;
		}
		.bottom-footer .navbar .navbar-nav .nav-item{
			display: inherit;
		}
		.bottom-footer .navbar .navbar-nav .nav-link {
			font-size: 12px;
			padding: 5px 2px;
		}
	}
	@media screen and (max-width: 320px){
		.top-intro p {
			font-size: 11px;
		}
		.custom {
			margin-top: 30px;
		}
		.cl002 h4 {
			font-size: 13px;
		}
		.intro h4 {
			font-size: 14px;
		}
		.works .biz-news p {
			font-size: 11px;}
			.works .biz-news h3 {
				line-height: 1.5;
				letter-spacing: 1px;
			}
			.works .biz-news {
				outline-offset: -5px
			}
			.guesswork h4 {
				font-size: 14px
			}
			.news .tech-news p {
				font-size: 11px;
			}
			.news .tech-news {
				outline-offset: -5px;
			}
			.news h3 {
				padding-top: 18px;
			}
		}