@media (max-width: 320px) 
{ 
	.article{
		min-height: 270px;
	}
	.sign-up{
		padding: 10px 29px;
		max-width: 240px;
	}
	.work h2{
		font-size: 20px;
	padding-top: 5px;
    padding-bottom: 5px;
	}
	.guesswork h2{
		font-size: 20px;
	padding-top: 5px;
    padding-bottom: 5px;
	}
}
@media (min-width: 364px) and (max-width: 480px) { 
	body{
		padding-top: 67px;
	}
	.article{
		margin-top: 0;
		min-height: 270px;
	}
	.work h2{
		font-size: 20px;
	padding-top: 5px;
    padding-bottom: 5px;
	}
	.guesswork h2{
		font-size: 20px;
	padding-top: 5px;
    padding-bottom: 5px;
	}
}
@media (min-width: 481px) and (max-width:575px) { 
	.article{
		min-height: 300px;
	}
}
@media (min-width: 576px) and (max-width: 767px) { 
	body{
		padding-top: 67px;
	}
	.article{
		margin-top: 0;
		min-height: 400px;
	}
	/*.work_img img{
		padding: 10px 0px;
	}
*/
}
@media (min-width: 768px) and (max-width: 991px) { 
	body{
		padding-top: 65px;
	}
	.article{
		margin-top: 0;
		min-height: 400px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	body{
		padding-top: 65px;
	}
}
@media (min-width: 1200px) and (max-width: 1245px){
	body{
		padding-top: 65px;
	}
}
}
@media (min-width: @screen-lg-min) { ... }