.for_image{
	padding: 30px 0;
}
.general_info{}
.g_info{
	background-color: #00b2f7;
}
.g_info p{
	font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 15px 12px;
}
.g_info2{}

.custom_p2_1{
	padding: 0 !important;
}
.custom_p2_2{
	padding: 0 !important;
	margin-left: 20px !important;
}
.custom_p2_3{
	padding: 0 !important;
}
.custom_btn{

}