section{
	overflow: hidden;
}

.zoom {
	
    float: left;
    margin: 1% 6%;
    background-color: green;
    transition: transform .2s;
    width: 21%;
    height: 200px;
 
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.grow { 
background-color: red; 
width:100px;
height: 100px;
margin: 1% 6%;
transition: all .2s ease-in-out;
}

.grow:hover { transform: scale(1.1); }
