section{
	overflow: hidden;
}
.zoom {
	padding: 50px;
    background-color: green;
    transition: transform .2s;  
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}